<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="headerAdmin :: head"></head>
<body>
<span th:replace="headerAdmin :: header"></span>
<section class="dashboard-section">
    <div class="row dashboard-nowrap">
        <span th:replace="leftPanelAdmin :: leftPanel"></span>
        <span th:replace="dashboardHeaderAdmin :: dashboardHeader"></span>
            <div class="m-4 p-4 border-dashed">
                <h2 class="dashboard-content-title">
                    <span>Menu</span>
                </h2>
                <div class="dashboard-section">
                    <h2 class="dashboard-content" th:text="${selectedDrink.getName()} + ' ' + ${selectedDrink.getPrice() + ' zł'}"></h2>
                </div>
                <form method="POST" th:action="@{/admin/order/soup}">
                    <input hidden name="selectedSoupId" th:value="${selectedDrink.getId()}">
                    <div class="col d-flex justify-content-end mb-2 noPadding">
                        <button type="submit" class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">Dodaj do zamówienia</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<span th:replace="footer :: footer"></span>
</body>
</html>