<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="header :: head"></head>
<body>
<span th:replace="header :: header"></span>
<section class="dashboard-section">
    <div class="row dashboard-nowrap">
        <div class="m-4 p-4 width-medium">
            <div class="m-4 p-4 border-dashed">
                <div class="container w-25">
                    <form class="padding-small text-center" th:action="@{/login}" method="post">
                        <h1 class="text-color-darker">Logowanie</h1>
                        <div th:if="${param.success}">
                            <div class="alert alert-success" style="text-align: center">You've successfully registered!</div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Podaj login">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Podaj hasło">
                        </div>
                        <button class="btn btn-color rounded-0" type="submit">Zaloguj</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<span th:replace="footer :: footer"></span>
</body>
</html>