<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="header :: head"></head>
<body>
<span th:replace="header :: header"></span>
<section class="dashboard-section">
    <div class="row dashboard-nowrap">
        <span th:replace="leftPanel :: leftPanel"></span>
        <div class="m-4 p-3 width-medium text-color-darker" th:style="'background:url(' + @{/img/image.png} + ')'">
        <div class="dashboard-content border-dashed p-3 m-4 view-height">
            <form method="POST" th:action="@{/order/submit}">
                <div class="mt-4 ml-4 mr-4">
                    <div th:if="${param.success}">
                        <div class="alert alert-success" style="text-align: center">Zamówienie złożone! Otrzymasz maila z Twoim zamówieniem.</div>
                    </div>
                    <br>
                    <h2 class="dashboard-content-title">
                        <span>Złóż zamówienie</span>
                    </h2>
                    <table class="table borderless">
                        <tbody>

                        <tr class="d-flex">
                            <td class="col-12 border-bottom border-3"><h3 class="text-uppercase">Dane personalne</h3></td>
                        </tr>

                        <tr class="d-flex">
                            <th scope="row" class="col-3" style="text-align: end">Imię</th>
                            <td class="col-6">
                                <input th:field="*{person.firstName}" class="w-100 p-1">
                                <div class="text-color-danger text-align: center" th:if="${#fields.hasErrors('person.firstName')}" th:errors="*{person.firstName}"></div>
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-3" style="text-align: end">Nazwisko</th>
                            <td class="col-6">
                                <input th:field="*{person.lastName}" class="w-100 p-1">
                                <div class="text-color-danger text-align: center" th:if="${#fields.hasErrors('person.lastName')}" th:errors="*{person.lastName}"></div>
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-3" style="text-align: end">Numer telefonu</th>
                            <td class="col-6">
                                <input th:field="*{person.phoneNumber}" class="w-100 p-1">
                                <div class="text-color-danger text-align: center" th:if="${#fields.hasErrors('person.phoneNumber')}" th:errors="*{person.phoneNumber}"></div>
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-3" style="text-align: end">Email</th>
                            <td class="col-6">
                                <input th:field="*{person.email}" class="w-100 p-1">
                                <div class="text-color-danger text-align: center" th:if="${#fields.hasErrors('person.email')}" th:errors="*{person.email}"></div>
                            </td>
                        </tr>

                        <tr class="d-flex">
                            <td class="col-12 border-bottom border-3"><h3 class="text-uppercase">Adres dostawy</h3></td>
                        </tr>

                        <tr class="d-flex">
                            <th scope="row" class="col-3" style="text-align: end">Ulica</th>
                            <td class="col-6">
                                <input th:field="*{address.street}" class="w-100 p-1">
                                <div class="text-color-danger text-align: center" th:if="${#fields.hasErrors('address.street')}" th:errors="*{address.street}"></div>
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-3" style="text-align: end">Number budynku</th>
                            <td class="col-1">
                                <input th:field="*{address.buildingNumber}" class="w-100 p-1">
                                <div class="text-color-danger text-align: center" th:if="${#fields.hasErrors('address.buildingNumber')}" th:errors="*{address.buildingNumber}"></div>
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-3" style="text-align: end">Kod pocztowy</th>
                            <td class="col-1">
                                <input th:field="*{address.postcode}" class="w-100 p-1">
                                <div class="text-color-danger text-align: center" th:if="${#fields.hasErrors('address.postcode')}" th:errors="*{address.postcode}"></div>
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-3" style="text-align: end">Miejscowość</th>
                            <td class="col-6">
                                <input th:field="*{address.city}" class="w-100 p-1">
                                <div class="text-color-danger text-align: center" th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}"></div>
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-3" style="text-align: end">Komentarz</th>
                            <td class="col-6">
                                <textarea th:field="*{order.comment}" th:value="''" class="w-100 p-1" rows="5"></textarea>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    </div>
                    <div class="col d-flex justify-content-end mb-2">
                        <button type="submit" class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">Złóż zamówienie</button>
                    </div>
            </form>
        </div>
        </div>
        </div>
</section>

<span th:replace="footer :: footer"></span>
</body>
</html>