<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="/headerLogged :: head"></head>
<body>
<span th:replace="/headerLogged :: header"></span>
<section class="dashboard-section">
    <div class="row dashboard-nowrap">
        <span th:replace="/leftPanelUser :: leftPanel"></span>
        <span th:replace="/dashboardHeaderUser :: dashboardHeader"></span>
            <div class="m-4 p-4 border-dashed">
                <h2 class="dashboard-content-title">
                    <span>Menu</span>
                </h2>
                <div class="dashboard-section">
                    <h2 class="dashboard-content" th:text="'Pizza ' + ${selectedPizza.getName()} + ' ' + ${selectedPizza.getPrice()} + ' zł'"></h2>
                </div>
                <form method="POST" th:action="@{/user/order/pizza}">
                <table class="table">
                    <thead>
                        <tr class="d-flex">
                            <th class="col-2">Dodatki</th>
                            <th class="col-7"></th>
                            <th class="col-1"></th>
                            <th class="col-2"></th>
                        </tr>
                    </thead>
                    <tbody class="text-color-lighter">
                        <tr class="d-flex" th:each="addition, state : ${pizzaToppings}">
                                <td class="col-7" th:text="${addition.getName()}"></td>
                                <td class="col-1 center" th:text="${addition.getPrice()} + ' zł'"></td>
                                <td class="col-4 center">
                                    <input type="checkbox" name="selectedAdditions" th:value="${addition.getId()}">
                                    <label th:for="${addition.getId()}">Dodaj</label>
                                </td>
                        </tr>
                    </tbody>
                </table>
                    <input hidden name="selectedPizzaId" th:value="${selectedPizza.getId()}">
                    <div class="col d-flex justify-content-end mb-2 noPadding">
                        <button type="submit" class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">Dodaj do zamówienia</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<span th:replace="/footer :: footer"></span>
</body>
</html>