<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body th:fragment="leftPanel">
<ul class="nav flex-column long-bg">
    <li class="nav-item">
        <a class="nav-link" href="/admin/home">
            <span>Strona główna</span>
            <i class="fas fa-angle-right"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/order/basket">
            <span>Twoje zamówienie</span>
            <i class="fas fa-angle-right"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/order/history">
            <span>Historia wszystkich zamówień</span>
            <i class="fas fa-angle-right"></i>
        </a>
    </li>
</ul>

</body>
</html>
